@import "material";

$background: #07080b;
$foreground: #ecd6d7;
$foreground-inactive: #d8abac;
$highlight-pri: #d7263d;
$highlight-sec: #931348;
$highlight-ter: #53093e;
$font: Noto Sans, serif;

body {
  all: unset;
  background-color: $background;
}

.header-block {
  position: sticky;
  top: 0;
  background-color: $highlight-pri;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-block-button {
  all: unset;
  font-size: 1em;
  font-family: $font;
  padding: 0.5em;
  font-weight: bold;
  color: $foreground-inactive;
  background-color: $highlight-pri;
}

@keyframes header-block-button-animation {
  from {
  }

  to {
    background-color: $highlight-sec;
    color: $foreground;
  }
}

.header-block-button:hover {
  animation-name: header-block-button-animation;
  animation-fill-mode: forwards;
  animation-duration: 0.25s;
  cursor: pointer;
}

.welcome-frame {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome-image {
  aspect-ratio: 1;
  border-radius: 50%;
  width: 30%;
}

.welcome-heading-text {
  font-family: $font;
  color: $highlight-pri;
  text-align: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 3em;
}

.welcome-heading-underline {
  border-bottom: 1px solid $foreground;
}
.welcome-text {
  font-family: $font;
  color: $foreground-inactive;
  text-align: center;
}

.divider-arrow {
  position: absolute;
  top: 100%;
  height: 24em;
  aspect-ratio: 1;
  background: $highlight-pri;
  transform: translateY(-100%);
}

.left-divider-arrow {
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  left: 0;
}

.right-divider-arrow {
  clip-path: polygon(100% 100%, 100% 0, 0 100%);
  right: 0;
}
